.idea/
venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.env
*.env
*.log
# Archivos de configuración de VSCode
.vscode/
# Archivos de sistema
Thumbs.db
**/connection.txt
readmedocker.md 